*{
    margin: 0px;
    padding: 0px;
}

.h-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* Nvigation bar */
#navbar{ 
    display: flex;
    align-items: center;
    /* position: sticky; */
    top: 0px;
} 
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#logo{
    margin: 5px 10px;
}
#logo img{
    height: 80px;
    width: 80px;
    margin: 3px 10px
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li{
    display: flex;
    margin: 5px;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 1px 2px;
    padding: 3px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: transform 0.2s;
}
#navbar ul li a:hover{
    transform: scale(1.2);
    
}
/* #navbar ul li a:hover{
    background-color: black;
    color:white;
    border-radius: 16px;
} */
#social{
    display: flex;
    position: relative;
    left: 765px;
    /* left: 48.1rem; */
    cursor: pointer;
}
#social img{
    height: 90px;
    width: 170px;
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 14%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#home{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    padding: 40px 10px;
    margin: 20px;
    font-size: 1rem;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#home p{
    font-size: 1rem;
}
#home button{
    margin: 6px;
    padding: 2px 10px;
    border-radius: 10px;
    transition: transform .2s;
}
#home button:hover{
    background-color: transparent;
    transform: scale(1.2);
      
}
#home::before{
    content: '';
    background: url("img/beach-g65bc9f8e6_1280.jpg")no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;    
}
#home ul{
    margin: 30px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    height: 400px;
    width: 100%;
}
#service h1{
    font-size: 2.5rem;
    font-family: -webkit-pictograph;
    letter-spacing: 5px;    
    padding-top: 20px;
}
.box{
    margin: 30px auto;
}
#container img{
    height: 22rem;
    width: 27rem;
    transition: transform .2s;
    opacity: 0.98;
}
#container img:hover{
  transform: scale(1.15);
}
 .cnt{
    position: relative;
    margin: 15px auto;
    cursor: pointer;
}
.centered{
    position: absolute;
    top: 45%;
    left: 32%;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    letter-spacing: 0.3rem;
    text-align: center;
} 
#one{
    left: 26%;
    top: 45%;
}
#two{
    left: 33%;
    top: 45%;
}
#three{
    left: 26%;
    top: 45%;
}
#clients h1{
    font-size: 2.5rem;
    font-family: -webkit-pictograph;
    letter-spacing: 5px;    
    padding: 20px;
    margin: 10px;
}
#clientsbox{
  display: flex;
  flex-direction: column;
}
#clientsbox::before{
    content: "";
    position: absolute;
    background: url('img/iconsbg.jpg') no-repeat center center/cover;
    height: 111.5%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
#clientsinfo{
    margin: 20px;
}
#client1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-left: 47%;
    /* grid-area: image; */
}
.h-secondary{
    font-size: 1.8rem;
    font-family: -webkit-pictograph;
    letter-spacing: 2px;
    padding: 5px;
}
.para{
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;    
    font-family:sans-serif;
}
.star{
    padding-bottom: 5px;
}
#contact h1{
    font-size: 2.5rem;
    font-family: -webkit-pictograph;
    letter-spacing: 5px;
    padding: 20px;
    margin: 10px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('img/icon-set-g24616ba84_1280-removebg-preview.png');
    height: 68%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#contactbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 1.1rem;
}
#contactbox input{
    display: block;
    text-align: center;
    width: 280px;
    padding: 5px;
    border-radius: 7px;
}
textarea{
    border-radius: 7px;
    text-align: center;
    padding: 10px;

}
.foot{
    background: black;
    color: white;
    text-align: center;
}




